<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiao.myappshuihu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--详细网页的那个 webview-->
        <activity android:name=".ui.WebViewActivity"
            />
        <!--购物车的-->
        <activity android:name=".ui.ShoppingsActivity"/>
        <!--设置界面-->
        <activity android:name=".ui.SettingsActivity"/>
        <!--历史记录-->
        <activity android:name=".ui.LiShiJiLuAcativity"/>
        <!--扫描二维码-->
        <activity android:name=".ui.SaoYiSaoActivity"/>
        <!--添加设备界面-->
        <activity android:name=".ui.AddOldInfoActivity"/>
        <activity android:name=".ui.AddNewInfoActivity" />
        <!--自定义 添加温度类型的那个界面-->
        <activity android:name=".ui.ZiDingYiBianJiActivity"/>
        <!--预约定时 那个界面-->
        <activity android:name=".ui.YuYueActivity"/>
        <!--这个的是预约定时界面 进去后 点击右上角加号 在进去的那个界面-->
        <activity android:name=".ui.NZEditActivity"/>
        <!--XQActivity-->
        <activity android:name=".ui.XQActivity"/>
        <!--购物车 仿照 淘宝的那个 界面-->
      <!--  <activity android:name="com.example.zerovoid.shoppingcart.activity.ShoppingCartActivity"/>-->
            <!--添加设备 界面-->
        <activity android:name=".ui.MachineActivity"/>
        <!--个人信息界面-->
        <activity android:name=".ui.PersonalInformationActivity"/>
    </application>

    <!--banner图片轮播用到的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--获取手机设备号信息权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--wifi权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



</manifest>